<div class='container'>
  <div class='row'>
    <div class='col-12 header'>
      <h1>Registration Number Web Application</h1>
    </div>
  </div>

  <div class='row'>

    <div class='col-12 col-md-6 regInsert '>
      <form method="post" action="/registration/add">
        <p>Insert registration number:
          <input autocomplete="off" class="form-control registrationNumber" name="registrationNumber" id="registrationNumber" type="text" onKeyUp="checkRegInput()" placeholder="CA 123-456">
          <span id='msg' class='text-warning hide'>Shucks, this is not a valid registration number.</span>
        </p>
        <div>
          <button type="submit" id="submit" class="btn btn-primary submit btn-lg mx-auto" disabled><i class="fas fa-arrow-right"></i>Submit</button>
        </div>
      </form>

    </div>

    <div class='col-12 col-md-6 townFilter'>
      <form method="post" action="/registration/filter">
        <p>Filter by location:
          <select name="filter" class="form-control">
            <option>ALL</option>
            {{#towns}}
              <option {{selected}}  value="{{code}}">{{location}}</option>
            {{/towns}}
          </select>
        </p>
        <div>
          <button type="submit" class="btn btn-success search btn-lg mx-auto"><i class="fas fa-search-location"></i>Search</button>
        </div>
      </form>
    </div>



  </div>





  {{#if messages.notificationDanger}}
    <div class='row'>
      <div class='col-12'>
        <p class='notificationDanger alert alert-danger'>
          {{messages.notificationDanger}}
        </p>
      </div>
    </div>
  {{/if}}

  {{#if messages.notificationSuccess}}
    <div class='row'>
      <div class='col-12'>
        <p class='notificationSuccess alert alert-success'>
          {{messages.notificationSuccess}}
        </p>
      </div>
    </div>
  {{/if}}



  {{#if registrationNumbers}}
  <div class='row'>
    <div class='col-12 results'>
      <h2>Results</h2>
    </div>
  </div>
  {{/if}}


  <div class='row'>
    {{#registrationNumbers}}
      <div class='col-md-6 col-lg-4'>
        <div class="plate mx-auto">
          <div class="number">
            {{registration_number_area}} {{registration_number}}
          </div>
        </div>
      </div>
    {{/registrationNumbers}}



  </div>

    <div class='row '>
      <div class='col-12 '>
        <div class='mx-auto'>
          <button type="button" class="btn btn-danger reset btn-lg mx-auto" data-toggle="modal" data-target="#resetModal"><i class="fas fa-redo"></i>Reset</button>
        </div>

        <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                You are about to delete all the registration numbers ion the system, this procedure is irreversible.
                Do you want to proceed?
              </div>
              <div class="modal-footer">
                <form method="post" action="/registration/reset">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class='row'>
      <div class='col-12 informationSection'>
        <h2 class='header'>Important Information</h2>
        <table id="example" class="table table-striped table-bordered table-editable">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Code</th>
              <th scope="col">Location</th>
              <th scope="col">Edit/Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#towns}}
              <tr>
                <th scope="row">{{@index}}</th>
                <td> {{code}}</td>



                <form method="POST" action="/registration/edit?town={{id}}" id='form{{@index}}'>
                    <td id="edit{{@index}}" onblur="editLocation({{@index}})" contenteditable="true"> {{location}}</td>
                    <input type="hidden" class="form-control townLocation" name="townLocation" id="townLocation{{@index}}" value="{{location}}">
                </form>



                <td><i class="fas fa-edit" onclick="selectText({{@index}})"></i><i id="trash" class="fas fa-trash-alt" data-toggle="modal" data-target="#exampleModal{{@index}}"></i></td>
              </tr>
              <div class="modal fade" id="exampleModal{{@index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      You are about to delete the town {{location}}, this procedure is irreversible.
                      Do you want to proceed?
                    </div>
                    <div class="modal-footer">
                      <form method="POST" action="/registration/delete?town={{id}}">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {{/towns}}
          </tbody>
        </table>
      </div>
    </div>

</div>
